{% comment %}
  Renders a product thumbnail

  Accepts:
  - media: {Object} Product media object
  - media_count: {Number} Number of media objects
  - position: {String} Position of the media. Used for accessible label.
  - desktop_layout: {String} Layout of the media on desktop. Values: 'columns', 'thumbnail', 'thumbnail_slider'
  - mobile_layout: {String} Layout of the media on mobile. Values: 'columns', 'show'
  - loop: {Boolean} Enable video looping
  - modal_id: {String} The modal that will be opened if the media is not a image
  - xr_button: {Boolean} Show the XR button
  - media_width: {Float} The width of the media on desktop
  - media_fit: {String} The fit of the media on desktop. Values: 'contain', 'cover'
  - constrain_to_viewport: {Boolean} Whether to constrain the media to the viewport height
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'product-thumbnail',
    media: media,
    media_count: media_count,
    position: media_position,
    desktop_layout: section.settings.gallery_layout,
    mobile_layout: section.settings.mobile_thumbnails,
    loop: section.settings.enable_video_looping,
    modal_id: section.id,
    xr_button: true,
    media_width: media_width,
    media_fit: section.settings.media_fit,
    constrain_to_viewport: section.settings.constrain_to_viewport,
    lazy_load: false
  %}
{% endcomment %}

{%- liquid
  assign ratio = 1
  if media.preview_image and media.preview_image.aspect_ratio != blank
    assign ratio = media.preview_image.aspect_ratio
  endif

  if constrain_to_viewport
    assign max_height_class = 'media--height'
  endif

  if media_fit == 'cover'
    assign media_fit_class = 'media--cover'
  endif
-%}

<div
  class="product__media media media--transparent{% if media_count == 1 %} media--no-border{% endif %} {{ max_height_class }} {{ media_fit_class }} global-media-settings"
  {% if constrain_to_viewport %}
    style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
  {% endif %}
>
  {%- if media.media_type == 'image' -%}
    {{
      media.preview_image
      | image_url: width: 1946
      | image_tag:
        loading: lazy_load | default: 'lazy',
        sizes: '(min-width: 1200px) 550px, (min-width: 990px) calc(55vw - 11rem), (min-width: 750px) calc(50vw - 11rem), calc(100vw - 4rem)',
        widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946',
        alt: media.alt | escape
    }}
  {%- elsif media.media_type == 'external_video' -%}
    {%- if media.host == 'youtube' -%}
      {{
        media
        | external_video_url: autoplay: true, loop: loop, playlist: media.external_id
        | external_video_tag: loading: 'lazy', class: 'js-youtube'
      }}
    {%- else -%}
      {{
        media
        | external_video_url: autoplay: true, loop: loop
        | external_video_tag: loading: 'lazy', class: 'js-vimeo'
      }}
    {%- endif -%}
  {%- elsif media.media_type == 'video' -%}
    {{
      media
      | media_tag:
        image_size: '2048x',
        autoplay: true,
        loop: loop,
        controls: true,
        preload: 'none'
    }}
  {%- elsif media.media_type == 'model' -%}
    {{
      media
      | media_tag:
        image_size: '2048x',
        toggleable: true
    }}
  {%- endif -%}
  {%- if media.media_type != 'image' -%}
    {%- if media.media_type == 'model' -%}
      <button
        class="product__xr-button"
        type="button"
        aria-label="{{ 'products.product.xr_button_label' | t }}"
        data-shopify-xr
        data-shopify-model3d-id="{{ media.id }}"
        data-shopify-title="{{ product.title | escape }}"
        data-shopify-xr-hidden
      >
        <span class="svg-wrapper">
          {{- 'icon-3d-model.svg' | inline_asset_content -}}
        </span>
        {{ 'products.product.xr_button' | t }}
      </button>
    {%- endif -%}
    <div class="product__media-icon">
      {%- if media.media_type == 'model' -%}
        <span class="svg-wrapper">
          {{- 'icon-3d-model.svg' | inline_asset_content -}}
        </span>
      {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
        <span class="svg-wrapper">
          {{- 'icon-play.svg' | inline_asset_content -}}
        </span>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
